/* src/App.css */
.App {
    text-align: center;
  }
  h1 {
    color: #333;
  }
  .scanner {
    margin-top: 20px;
  }
  .container{
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-around;
  }
  .card{
      background-color: black;
      color: white;
      border-radius: 12px;
      width: 100%;
      margin: 12px;
      border: 2px dotted rgb(255, 255, 255);
  }
  h2{
    font-variant: small-caps;
  }